@model dynamic

@{
    var processedAt = Model?.ProcessedAt as DateTimeOffset?;
}

@if (Model != null)
{
    @if (Model.ProcessedByAdmin != null)
    {
        <tr>
            <th>Processed By</th>
            <td>
                <a href="@Url.Action("Entity", "User", new { id = Model.ProcessedByAdmin.Id })">
                    @Model.ProcessedByAdmin.FirstName @(Model.ProcessedByAdmin.LastName ?? "") (@Model.ProcessedByAdmin.Email)
                </a>
            </td>
        </tr>
    }

    @if (processedAt.HasValue)
    {
        <tr>
            <th>Processed At</th>
            <td>
                <input value="@processedAt.Value.ToString("yyyy-MM-dd HH:mm:ss")" class="form-control-plaintext" readonly />
            </td>
        </tr>
    }
}

