@model ClinicManagement.Services.PaginatedResult<ClinicManagement.Models.Humans.Person>

@{
    ViewData["Title"] = "People";
    ViewData["Entity"] = ViewContext.RouteData.Values["controller"]?.ToString().ToLower();
    var sortAscending = Model.SortAscending;
    var currentSortBy = Model.SortBy ?? "Id";
    
    // Set ViewData for sortable headers
    ViewData["SortAscending"] = sortAscending;
    ViewData["CurrentSortBy"] = currentSortBy;
    ViewData["PageSize"] = Model.PageSize;
    ViewData["SearchTerm"] = Model.SearchTerm;
}

<div class="row justify-content-center" data-permission="read">
    <div class="col-lg-10 col-md-12">
        <h2 class="mb-4">People</h2>

        @await Html.PartialAsync("Index/_IndexSearchForm", Model)

        @{
            ViewData["EntityNamePlural"] = "people";
            ViewData["EntityNameSingular"] = "person";
        }
        @await Html.PartialAsync("Index/_IndexEmptyState", Model, ViewData)

        @if (Model.Items.Any())
        {
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mb-0">
                            <thead>
                                <tr>
                                    @{
                                        ViewData["SortBy"] = "Id";
                                        ViewData["DisplayText"] = "ID";
                                    }
                                    @await Html.PartialAsync("Index/_IndexSortableHeader", ViewData)
                                    
                                    @{
                                        ViewData["SortBy"] = "FirstName";
                                        ViewData["DisplayText"] = "First Name";
                                    }
                                    @await Html.PartialAsync("Index/_IndexSortableHeader", ViewData)
                                    
                                    @{
                                        ViewData["SortBy"] = "LastName";
                                        ViewData["DisplayText"] = "Last Name";
                                    }
                                    @await Html.PartialAsync("Index/_IndexSortableHeader", ViewData)
                                    
                                    @{
                                        ViewData["SortBy"] = "Patronymic";
                                        ViewData["DisplayText"] = "Patronymic";
                                    }
                                    @await Html.PartialAsync("Index/_IndexSortableHeader", ViewData)
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var p in Model.Items)
                                {
                                    <tr class="clickable-row" data-href="@Url.Action("Entity", new { id = p.Id })">
                                        <td>@p.Id</td>
                                        <td>@p.FirstName</td>
                                        <td>@p.LastName</td>
                                        <td>@p.Patronymic</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("Index/_IndexPagination", Model)
        }
    </div>
</div>
